---
import Layout from '../layouts/Layout.astro';
import fs from 'fs';
import path from 'path';
import ImageThumbnail from 'image-thumbnail';
import Dibujo from '../components/Dibujo.astro';

const svgs = import.meta.glob('../svg/**/*.jpg');
let options = { width: 200, responseType: 'base64' }
const keys = await Promise.all(
	Object.keys(svgs).map(async (svg) => {
		const url = new URL(import.meta.env.DEV ? svg : svg.replace("../","../src/"), import.meta.url)
		const imageBuffer = fs.readFileSync(url) ;
		const thumbnail =  await ImageThumbnail(imageBuffer, options);
		return { name: path.parse(svg).name, img: thumbnail };
	})
);
---

<Layout title="Selecciona un dibujo para colorear">
	<div id="container">
		{keys.map(({name, img}) => 
			<Dibujo name={name} img={img} />
		)}
	</div>
	<style>
		#container { 
			display: grid;
			gap: var(--button-gap);
			grid-auto-rows: 9rem;
			grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
			padding: 1rem;
		}
	</style>
</Layout>
