---
export interface Props {
  name: string;
  img: string;
}

const { name, img } = Astro.props as Props;
const image = `url("data:image/jpg;base64,${img}")`;
---

<a href={`svg/${name}`} class="dibujo"></a>

<style define:vars={{ image }}>
    .dibujo {
        text-decoration: none;
        padding: 1em;
        display: block;
        box-sizing: content-box;
        background-image: var(--image);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-origin: content-box;
        background-color: white;
        border-radius: 1em;
        text-align: center;
    }
</style>