---
import Menu from '../components/Menu.astro';

export interface Props {
	title: string;
	onlyBackMenu: boolean;
}
const { title, onlyBackMenu } = Astro.props;
const marginTopContainer = onlyBackMenu ? 'calc(var(--button-gap) + var(--button-size))' : '0px';
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/colorear/favicon.svg" />
		<link rel="manifest" href="/colorear/js13kpwa.webmanifest" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		{ onlyBackMenu && 
			<Menu  onlyBack={onlyBackMenu} />		
		}
		<div id="container">
			<slot />
		</div>
		
	</body>
</html>

<style is:global>
	:root {
        --button-size: 65px;
        --button-gap: 16px;
        --speed-menu: 0.3s
    }
</style>

<style define:vars={{ marginTopContainer }}>
	body {
		margin: 0;
		background-color: #ccc; 
	}

	#container { 
		display: grid;
    	gap: var(--button-gap);
    	grid-auto-rows: 9rem;
		grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
		padding: 1rem;
		margin-top: var(--marginTopContainer);
	}
</style>