---
export interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body {
		margin: 0; 
		background-color: #ccc; 
		display: grid;
    	gap: 1rem;
    	grid-auto-rows: 9rem;
		grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
		padding: 1rem;
	}
</style>